[submodule "Inhaler Firmware/lib/Firebase"]
	path = Inhaler Firmware/lib/Firebase
	url = https://github.com/mobizt/Firebase-ESP-Client.git
[submodule "Inhaler Firmware/lib/Adafruit_MPU6050"]
	path = Inhaler Firmware/lib/Adafruit_MPU6050
	url = https://github.com/adafruit/Adafruit_MPU6050
[submodule "Inhaler Firmware/lib/ESPAsyncTCP"]
	path = Inhaler Firmware/lib/ESPAsyncTCP
	url = https://github.com/me-no-dev/ESPAsyncTCP
[submodule "Inhaler Firmware/lib/ESPAsyncWebServer"]
	path = Inhaler Firmware/lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "Inhaler Firmware/lib/Preferences"]
	path = Inhaler Firmware/lib/Preferences
	url = https://github.com/vshymanskyy/Preferences
[submodule "Inhaler Firmware/lib/Adafruit_BusIO"]
	path = Inhaler Firmware/lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "Inhaler Firmware/lib/Adafruit_Unified_Sensor_Driver"]
	path = Inhaler Firmware/lib/Adafruit_Unified_Sensor_Driver
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "Inhaler Firmware/lib/WebSerial"]
	path = Inhaler Firmware/lib/WebSerial
	url = https://github.com/ayushsharma82/WebSerial.git
[submodule "Necklace/lib/TFT_eSPI"]
	path = Necklace/lib/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
[submodule "Necklace/lib/ESPAsyncWebServer"]
	path = Necklace/lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "Necklace/lib/AsyncTCP"]
	path = Necklace/lib/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "Necklace/lib/SCD40"]
	path = Necklace/lib/SCD40
	url = https://github.com/sparkfun/SparkFun_SCD4x_Arduino_Library.git
[submodule "Necklace/lib/Firebase"]
	path = Necklace/lib/Firebase
	url = https://github.com/mobizt/Firebase-ESP32.git
[submodule "Necklace/lib/NTPClient"]
	path = Necklace/lib/NTPClient
	url = https://github.com/aliffathoni/NTPClient.git
